@font-face { 
  font-family: "Gilroy"; 
  src: url("../fonts/web/gilroylight.woff2") format("woff2"), 
       url("../fonts/gilroy/Gilroylight.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url("../fonts/web/gilroylight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: "Gilroy"; 
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"), 
       url("../fonts/gilroy/Gilroyextrabold.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url("../fonts/web/gilroyextrabold.woff") format("woff"); 
  font-weight: 800; 
  font-style: normal; 
}

@font-face { 
  font-family: "Open-Sans"; 
  src: url("../fonts/web/opensanslight.woff2") format("woff2"), 
       url("../fonts/open_sans/OpenSans-Light.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */    
       url("../fonts/web/opensanslight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: "Open-Sans"; 
  src: url("../fonts/web/opensans.woff2") format("woff2"),  
       url("../fonts/open_sans/OpenSans-Regular.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */   
       url("../fonts/web/opensans.woff") format("woff"); 
  font-weight: 400; 
  font-style: normal; 
}

html,
body {
  font-family: "Gilroy", "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;

  width: 100%;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* шапка сайта */

.logo:hover,
.logo:focus {
  opacity: 0.6;
  cursor: pointer;
}     

.logo:active {
  opacity: 0.3;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 1160px;
  min-height: 299px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 61px;

  background-color: rgba(247, 226, 150, 1);
}

.user-nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style: none;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px; 
  font-weight: 400;
}

.logo {
  margin-top: -20px;
}

.user-nav__item a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.user-nav__search input {
  width: 440px;
  height: 49px;
  padding: 18px;
  padding-left: 31px;
  margin: 0;

  border: none;
  background: rgba(247, 226, 150, 1) url("../img/search.svg") no-repeat 0 50%;
  font-style: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1); 
}

.user-nav__search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}/* Firefox 19+ */

.user-nav__search input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}/* Firefox 18- */

.user-nav__search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search:hover input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search:hover input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}/* Firefox 19+ */

.user-nav__search:hover input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}/* Firefox 18- */

.user-nav__search:hover input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search {
  position: relative;  
}

.button-search {
  display: none;
  position: absolute;
  right: 0;
  top: 0;

  border: none;
  margin: 0;
  padding: 0;

  width: 85px;
  height: 49px;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(247, 226, 150, 1); 
}

.user-nav__search input:focus {
  outline: none;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);   
}

.user-nav__login {
  margin-left: auto;
  margin-right: 217px;
}

.user-nav__login a {
  padding-left: 29px;

  background: url("../img/user.svg") no-repeat 0 50%;
}

.user-nav__compare a {
  margin-right: 41px;  
  padding-left: 21px; 

  background: url("../img/compare.svg") no-repeat 0 50%;
}

.user-nav__cart a {
  padding-left: 21px; 

  background: url("../img/cart.svg") no-repeat 0 50%;
}

.site-nav {
  display: flex;

  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style: none;
}

.site-nav__item a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.2em;
  text-transform: uppercase;  
}

.site-nav__item-catalog > a {
  padding-right: 32px;

  background: url("../img/plus.svg") no-repeat 100% 50%;  
}

.site-nav__item-catalog {
  position: relative; 
}

.submenu-list {
  position: absolute;
  display: none;
  flex-wrap: wrap;

  width: 1039px;
  margin: 0;
  padding: 0;
  padding-right: 490px;

  list-style: none;
}

.submenu-list__item {
  width: 182px;
}

.site-nav__item-catalog:hover .submenu-list {
  display: flex;
}

.submenu-list__item  a {
  font-family: "Open-Sans";
  font-size: 15px;
  font-weight: 300;

  text-transform: none;
  letter-spacing: 0.01em;
}

.site-nav__item:nth-child(2) {
  margin-left: auto;
  margin-right: 38px;
}

.site-nav__item:nth-child(3) {
  margin-right: 114px;
}

/* содержание */

.slider {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  margin-top: -100px;
}

.slider__img {
  margin-left: 100px;
}

.slider__text {
  display: flex;
  flex-direction: column;

  margin-left: 125px;
  margin-top: 70px;
}

.slider__tagline {
  width: 392px;

  font-size: 47px;
}

.slider__text p {
  width: 477px;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;  
}

.table {
  display: table;
  margin-top: 50px;
}

.table__caption {
  display: table-caption;
  margin-bottom: 50px;
}

.table__row {
  display: table-row;
}

.table li {
  display: table-cell;
  padding-top: 20px;  
}

.slider-1 {
  background: url("../img/01.png") no-repeat 933px 0;
}

.slider-2 {
  display: none;
  background: url("../img/02.png") no-repeat 95% 0;
}

.slider-3 {
  display: none;
  background: url("../img/03.png") no-repeat 95% 0;
}

/* популярные товары */

.popular {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 100px;

  list-style: none;
}

.popular__item {
  width: 160px;
}

.wrapper-popular {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: rgba(247, 226, 150, 1);
}

.wrapper-popular img {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popular__item a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1); 
}

.popular__item h3 {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800; 
}

/* доставка гарантия кредит */

.wrapper-services {
  width: 100%;
  min-height: 288px;

  background-color: rgba(229, 229, 229, 1);
}

.services {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  margin-top: 187px;
}

.serveces-menu {
  display:  flex;
  flex-direction: column;

  width: 288px;
  min-height: 323px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  margin-top: -100px;

  list-style: none;
  border-right: 5px solid rgba(0, 0, 0, 1);
}

.services-menu__item {
  margin-top: 40px;
}

.services-menu__item:first-child {
  margin-top: 0px;  
}

.services-menu__item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.serveces-menu__caption {
  width: 426px;
  margin-left: 118px;
  margin-top: -70px;  
}

.serveces-menu__caption h2 {
  font-size: 47px;
}

.serveces-menu__caption p {
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.serveces-menu__warranty,
.serveces-menu__credit {
  display: none;
}

/* фирмы */

.firms {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0;

  list-style: none;
}

/* раздел контактов */

.section-contacts {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  margin-top: 100px;
}

.about-us {
  width: 462px;
}

.contacts {
  width: 560px;
}

.section-contacts h2 {
  font-size: 47px;
}

.section-contacts p {
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.about-us__list {
  margin: 0;
  margin-top: 85px;
  padding: 0;

  list-style: none;
}

.contacts__map {
  margin-top: 50px;
}

.about-us a,
.contacts a {
  display: block;

  width: 260px;
  min-height: 8px;
  margin-top: 100px;
  padding-left: 5px;
  padding-right: 5px;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(240, 197, 43, 1);
  letter-spacing: 0.2em;
  line-height: 8px;
}

/* подвал */

.footer {
  width: 100%;

  margin-top: 100px;

  background-color: rgba(70, 70, 70, 1);
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-adress {
  width: 205px;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.footer-nav {
  width: 425px;
}

.footer-nav-list,
.footer-nav-social {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav-list {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-nav-social {
  justify-content: center; 

  margin-top: 100px; 
}

.footer-nav-list a,
.footer-nav-social a {
  display: block;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.footer-nav-social__item {
  margin-right: 30px;
}

.footer-nav-social__item:last-child {
  margin-right: 0px;
}

.footer-menu {
  display: flex;
  flex-direction: column;

  width: 326px;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);  
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-list__item a {
  display: block;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.footer-tel {
  margin-left: auto;

  line-height: 30px;
}

.html-icon {
  align-self: center;
  margin-left: auto;
}

/* каталог */

.wrapper-breadscrumps {
  display: flex;
  flex-wrap: wrap;

  width: 1160px;
  margin: 0 auto;
}

.wrapper-breadscrumps h2 {
  margin-right: auto;

  font-size: 47px;
  font-weight: 800;
}

.breadscrumbs {
  display: flex;
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadscrumbs__item {
  margin-right: 20px;
}

.breadscrumbs a {
  display: block;

  font-family: "Open-Sans";
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.wrapper-catalog {
  width: 100%;
  margin-top: 100px;
}

.catalog {
  display: flex;

  width: 1160px;
  margin: 0 auto;
}

.block-catalog {
  width: 100%;
}

.block-form {
  width: 270px;
}

.form-color,
.form-bluetooth {
  margin: 0;
  padding: 0;

  list-style: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.catalog-sort {
  display: flex;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
}

.catalog-list__item {
  width: 360px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.paginator {
  display: flex;

  width: 760px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}