@font-face { 
  font-family: "Gilroy"; 
  src: url("../fonts/web/gilroylight.woff2") format("woff2"), 
       url("../fonts/gilroy/Gilroylight.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url("../fonts/web/gilroylight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: "Gilroy"; 
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"), 
       url("../fonts/gilroy/Gilroyextrabold.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url("../fonts/web/gilroyextrabold.woff") format("woff"); 
  font-weight: 800; 
  font-style: normal; 
}

@font-face { 
  font-family: "Open-Sans"; 
  src: url("../fonts/web/opensanslight.woff2") format("woff2"), 
       url("../fonts/open_sans/OpenSans-Light.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */    
       url("../fonts/web/opensanslight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { 
  font-family: "Open-Sans"; 
  src: url("../fonts/web/opensans.woff2") format("woff2"),  
       url("../fonts/open_sans/OpenSans-Regular.ttf")  format("truetype"), /* Только если нужна поддержка старых Android, иначе закомментировать */   
       url("../fonts/web/opensans.woff") format("woff"); 
  font-weight: 400; 
  font-style: normal; 
}

html,
body {
  font-family: "Gilroy", "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;

  width: 100%;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* шапка сайта */

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 1160px;
  min-height: 299px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 61px;

  background-color: rgba(247, 226, 150, 1);
}

.menu-nav-catalog {
  min-height: 186px;
}

.logo {
  margin-top: -18px;
  margin-left: -13px;
  line-height: 0;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0;
  margin-top: 15px;
  padding: 0;

  list-style: none;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px; 
  letter-spacing: -0.03em;
  font-weight: 400;
}

.user-nav__item a {
  position: relative;
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.user-nav__search input {
  width: 440px;
  height: 49px;
  padding: 18px;
  padding-left: 35px;
  margin: 0;
  margin-left: 3px;

  border: none;
  background: rgba(247, 226, 150, 1) url("../img/search.svg") no-repeat 0 50%;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1); 
}

.user-nav__item svg {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(0%, -50%);
}

.user-nav__login {
  margin-left: auto;
  margin-right: 218px;
}

.user-nav__login a {
  padding-left: 25px;
}

.user-nav__compare a {
  margin-right: 43px;  
  padding-left: 21px; 
}

.user-nav__cart a {
  padding-left: 23px; 
}

.site-nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  margin-top: 32px;
  padding: 0;

  list-style: none;
}

.site-nav__item a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.2em;
  text-transform: uppercase;  
}

.site-nav__item-catalog > a {
  padding-right: 27px;

  background: url("../img/plus.svg") no-repeat 100% 50%;  
}

.site-nav__item-catalog {
  position: relative; 
}

.submenu-list {
  position: absolute;
  left: -60px;
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;  

  width: 1160px;
  min-height: 165px;
  margin: 0;
  padding: 0;
  padding-right: 430px;
  padding-left: 60px;
  padding-top: 23px;

  list-style: none;
  background: rgba(247, 226, 150, 1); 
}

.submenu-list__item {
  width: 180px;
}

.submenu-list__item a {
  font-family: "Open-Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.01em;  
}

.submenu-list__item:first-child,
.submenu-list__item:nth-child(4),
.submenu-list__item:nth-child(6) {
  margin-right: 60px;
}

.submenu-list__item:nth-child(2),
.submenu-list__item:nth-child(5) {
  margin-right: 19px;
}

.site-nav__item:nth-child(2) {
  margin-left: auto;
  margin-right: 34px;
}

.site-nav__item:nth-child(3) {
  margin-right: 109px;
}

.site-nav__item:last-child {
  margin-right: -5px;
}

/* состояния элементов шапки */

.logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.user-nav__search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}/* Firefox 19+ */

.user-nav__search input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}/* Firefox 18- */

.user-nav__search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search:hover input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search:hover input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}/* Firefox 19+ */

.user-nav__search:hover input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}/* Firefox 18- */

.user-nav__search:hover input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search {
  position: relative;  
}

.button-search {
  display: none;
  position: absolute;
  right: 0;
  top: 0;

  width: 85px;
  height: 49px;  
  margin: 0;
  padding: 0;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(247, 226, 150, 1); 
}

.search:focus + .button-search {
 display: block;
}

.search:focus {
  border-bottom: 2px solid black;
}

.button-search:hover {
  background-color: rgba(0, 0, 0, 1); 
  color: rgba(255, 255, 255, 1);
}

.button-search:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
}

.user-nav__item:not(.user-nav__search) a:hover,
.site-nav__item a:hover,
.submenu-list__item a:hover {
  opacity: 0.6;
}

.user-nav__item:not(.user-nav__search) a:active,
.site-nav__item a:active,
.submenu-list__item a:active {
  opacity: 0.3;
}

.user-nav__search input:focus {
  outline: none;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1); 
}

.site-nav__item-catalog:hover .submenu-list,
.site-nav__catalog-link:focus + .submenu-list {
  display: flex;
}


/* содержание */

.slider {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  margin-top: -111px;
}

.slider__img {
  margin-left: 90px;
}

.slider__text {
  display: flex;
  flex-direction: column;

  margin-left: 125px;
  margin-top: 79px;
}

.slider__tagline {
  width: 400px;

  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.015em;  
}

.slider__text p {
  width: 481px;
  margin-top: 19px;  

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;    
}

.table {
  width: 100%;
  margin-top: 53px;
  border-collapse: collapse;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 220px;
  min-height: 40px;
}

.slider__text .wrapper-btn {
  margin-top: 28px;
  margin-left: 2px;
}

.wrapper-btn__item {
  display: block;

  text-align: center;
  background-color: rgba(240, 197, 46, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Gilroy";
  font-weight: 800;  
  font-size: 18px;
  line-height: 8px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
}

.table__row:first-of-type {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.table__row:last-of-type {
  font-family: "Open-Sans";
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.table td:first-child {
  width: 33%;
}

.table td:last-child {
  width: 38%;
}

.table__row:last-of-type td {
  padding-top: 9px;
  letter-spacing: 0.01em;
}

.slider-1 {
  background: url("../img/01.png") no-repeat 934px 9px;
}

.slider-2 {
  display: none;
  background: url("../img/02.png") no-repeat 934px 9px;
}

.slider-3 {
  display: none;
  background: url("../img/03.png") no-repeat 934px 9px;
}

/* состояния элкментов содержания */

.wrapper-btn__item:hover,
.wrapper-btn__item:focus {
  line-height: 40px;
}

.wrapper-btn__item:active {
  color: rgba(0, 0, 0, 0.3);
}

/* популярные товары */

.popular {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 106px;

  list-style: none;
}

.popular__item {
  width: 160px;
}

.wrapper-popular {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: rgba(247, 226, 150, 1);
}

.wrapper-popular img {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popular__item:nth-child(2) img {
  top: 62%;
}

.popular__item:nth-child(3) img {
  top: 51%;
  left: 53%;
}

.popular__item:nth-child(4) img {
  top: 51%;
  left: 51%;
}

.popular__item:nth-child(5) img {
  top: 51%;
  left: 52%;
}

.popular__item:nth-child(6) img {
  top: 52%;
  left: 50%;
}

.popular__item a {
  display: block;

  text-decoration: none;
  color: rgba(0, 0, 0, 1); 
}

.popular__item h3 {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800; 
  line-height: 1.2em;
  letter-spacing: 0.01em; 
  margin-top: 35px;  
}

.popular__item:nth-child(2) h3 {
  width: 120px;
}

/* состояния элементов поппулярных товаров */

.popular__item:hover .wrapper-popular,
.popular__item:focus .wrapper-popular {
  background-color: rgba(240, 197, 46, 1);
}

.popular__item:active {
  opacity: 0.6;
}

/* доставка гарантия кредит */

.wrapper-services {
  width: 100%;
  min-height: 288px;

  background-color: rgba(229, 229, 229, 1);
}

.services {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  margin-top: 167px;
}

.serveces-menu {
  display: flex;
  flex-direction: column;

  width: 284px;
  min-height: 319px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  margin-top: -100px;

  list-style: none;
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.services-menu__item {
  margin-bottom: 24px;
}

.services-menu__item:last-child {
  margin-bottom: 0px;  
}


.services-menu__item .wrapper-btn {
  width: 160px;
}

.services-menu__item .wrapper-btn__item {
  border: none;
  padding: 0;
}

.serveces-menu__caption {
  width: 696px;
  margin-left: 118px;
  margin-top: -70px;
}

.serveces-menu__caption h2 {
  font-size: 47px;
  letter-spacing: 0.01em;  
}

.serveces-menu__caption p {
  width: 430px;

  margin-top: -10px;  

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;   
}

.serveces-menu__delivery {
  background: url("../img/delivery.svg") no-repeat 99.3% 44%;
 }

.serveces-menu__warranty {
  display: none;
  background: url("../img/warranty.svg") no-repeat 99.3% 44%;
}

.serveces-menu__credit {
  display: none;
  background: url("../img/credit.svg") no-repeat 99.3% 44%;
}

/* доставка гарантия кредит состояния элементов */

.services-menu__item .wrapper-btn__item:active {
  color: rgba(247, 226, 150, 1);
  background-color: rgba(0, 0, 0, 1);
} 

.services-menu__item:active {
  background-color: rgba(0, 0, 0, 1);
}

/* фирмы */

.firms {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  margin-top: 94px;
  padding: 0;

  list-style: none;
}

/* фирмы состояния элементов */

.firms__item-link img:last-child {
  display: none;
}

.firms__item-link:hover img:last-child {
  display: block;
}

.firms__item-link:hover img:first-child {
  display: none;
}

/* раздел контактов */

.section-contacts {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  margin-top: 99px;
}

.about-us {
  width: 462px;
}

.contacts {
  width: 560px;
}

.contacts p {
  margin-top: 40px;
}

.section-contacts h2 {
  font-size: 47px;
  letter-spacing: 0.01em;
}

.section-contacts p {
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.about-us p:last-of-type {
  width: 462px;
  margin-top: 30px;
  letter-spacing: -0.012em;  
}

.about-us__list {
  margin: 0;
  margin-top: 77px; 
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 1.2em;
}

.about-us__list li {
  margin-bottom: 21px;
  padding-left: 39px;
  margin-left: -4px;

  background: url("../img/slider-button-small.svg") no-repeat 0% 50%;
}

.about-us__list li:last-child {
  margin-bottom: 0px;
}

.contacts__map {
  margin-top: 39px;
}

.about-us .wrapper-btn,
.contacts .wrapper-btn {
  width: 260px;
  margin-top: 65px;
}

/* подвал */

.footer {
  width: 100%;
  margin-top: 82px;

  background-color: rgba(70, 70, 70, 1);
}

.wrapper-footer {
  display: flex;

  width: 1160px;
  min-height: 323px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 64px;
}

.logo-footer {
  margin-left: -13px;
  margin-top: 1px;
}

.footer-adress {
  width: 205px;

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.footer-adress p {
  margin-top: 19px;
}

.footer-nav {
  align-self: flex-end;   
  width: 425px;
  margin-left: 163px;
  margin-bottom: 8px; 
}

.footer-nav-list,
.footer-nav-social {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav-list {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-nav-social {
  justify-content: center; 

  margin-top: 65px; 
}

.footer-nav-list a,
.footer-nav-social a {
  display: block;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.footer-nav-social__item {
  margin-right: 22px;
}

.footer-nav-social__item:last-child {
  margin-right: 0px;
}

.footer-menu {
  display: flex;
  flex-direction: column;

  width: 325px;
  margin-left: auto;
  margin-top: -5px;  

  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);  
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-list__item a {
  display: block;
  position: relative;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 26px;
}

.footer-menu-list__item svg {
  position: absolute;

  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
}

.footer-menu-list__compare a {
  padding-left: 21px; 
  margin-left: 4px; 
}

.footer-menu-list__cart a {
  padding-left: 22px;   
}

.footer-tel {
  margin-left: auto;
  margin-top: 34px;

  line-height: 30px;
}

.html-icon {
  margin-top: 62px;
  margin-left: auto;
}

/* подвал состояния элементов */

.footer-menu-list__item-link:hover,
.footer-menu-list__item-link:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-menu-list__item-link:hover svg,
.footer-menu-list__item-link:focus svg {
  opacity: 0.6;
}

.footer-menu-list__item-link:active svg,
.footer-menu-list__item-link:active {
  opacity: 0.3;
}

.footer-nav-list__link:hover,
.footer-nav-list__link:focus {
  opacity: 0.6;
}

.footer-nav-list__link:active {
  opacity: 0.3;
}

.footer-nav-social__item svg {
  opacity: 0.3;
}

.footer-nav-social__item:hover svg {
  opacity: 0.6;
}

.footer-nav-social__item:active svg {
  opacity: 0.1;
}

.html-icon:hover svg {
  opacity: 0.6;
}

.html-icon:active svg {
  opacity: 0.3;
}

/* напишите нам */

.wrapper-form  {
  display: none;
  width: 960px;
  padding: 0 100px;
  padding-top: 99px;
  padding-bottom: 92px;
}

.wrapper-form legend {
  margin: 0;
  padding: 0;
}

.wrapper-form fieldset {
  margin: 0;
  padding: 0;
  border: none;  
}

.wrapper-inner-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-name-form,
.wrapper-name-form input {
  width: 360px; 
}

.wrapper-email-form,
.wrapper-email-form input {
  width: 360px;
}

.wrapper-text-form {
  width: 100%;
}

.wrapper-text-form textarea {
  width: 100%;
}

/* каталог */

.logo-catalog {
  margin-top: -16px;
}

.user-nav-catalog {
  margin-top: 13px;
}

/* крошки */

.wrapper-breadscrumps {
  display: flex;
  flex-wrap: wrap;

  padding-left: 60px;
  width: 1160px;
  margin: 0 auto;
}

.wrapper-breadscrumps h2 {
  margin: 0px;
  margin-right: auto;
  margin-top: 34px;

  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.013em;  
}

.breadscrumbs {
  display: flex;
  width: 100%;

  margin: 0;
  margin-top: 15px;  
  padding: 0;

  list-style: none;
}

.breadscrumbs__item {
  position: relative;
  margin-right: 17px;
}

.breadscrumbs__item:not(:last-child)::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
}

.breadscrumbs a {
  display: block;

  padding-right: 20px;

  font-family: "Open-Sans";
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;  
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* крошки состояния элементов */

.breadscrumbs a:hover,
.breadscrumbs a:focus {
  opacity: 0.6;
}

.breadscrumbs a:active {
  opacity: 0.1;
}

/* фильтр */

.wrapper-filter {
  width: 100%;
  background: linear-gradient(90deg, rgba(219, 219, 219, 1) 30%, rgba(235, 235, 235, 1) 30%);
  margin-top: 40px;
}

.filter-box {
  display: flex;

  width: 1160px;
  padding-left: 60px;
  margin: 0 auto;
}

.catalog-sort__item button {
  border: none;
  background: none;
  font-family: "Open-Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  opacity: 0.3; 
}

.filter {
  display: flex;
  align-items: center;
  width: 288px;
  min-height: 70px;

  background-color: rgba(219, 219, 219, 1);
}

.filter,
.catalog-sort li:first-child {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

.catalog-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 892px;
  min-height: 70px;  
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: rgba(235, 235, 235, 1);  
}

.catalog-sort li:nth-child(2) {
  margin-left: 44px;
  margin-bottom: 3px;
}

.catalog-sort li:nth-last-child(2) {
  margin-left: auto;
  margin-right: 17px;
  margin-bottom: 3px;
}

.catalog-sort li:nth-child(3) {
  margin-left: 18px;
  margin-bottom: 3px;
}

.catalog-sort li:nth-child(4) {
  margin-left: 20px;
  margin-bottom: 3px;
}

.catalog-sort li:first-child {
  margin-left: 72px;
}

.catalog-sort li:last-child {
  margin-bottom: 3px;
}

.sort-tick {
  width: 11px;
  height: 10px;
  border: none;
  background: url("../img/up-down-sprite.png") no-repeat -10px -40px;
}

.sort-down {
  background-position: -10px -10px;
}

/* фильтр состояния элементов */ 

.catalog-sort__item--active button {
  opacity: 1;
}

.catalog-sort__item button:hover,
.catalog-sort__item button:focus {
  opacity: 0.6;
}

.catalog-sort__item button:active {
  opacity: 1;
}

.sort-tick {
  opacity: 0.3;
}

.sort-tick:hover,
.sort-tick:focus {
  opacity: 0.6;
}

.sort-tick:active {
  opacity: 1;
}

.sort-tick--active {
  opacity: 1;
}

/* форма сортировки */

.wrapper-catalog {
  width: 100%;
  background: linear-gradient(90deg, rgba(239, 239, 239, 1) 30%, rgba(255, 255, 255, 1) 30%);
}

.catalog {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  padding-left: 59px; 
  margin: 0 auto; 
}

.block-form {
  width: 269px;
  background-color: rgba(239, 239, 239, 1);
  padding-top: 69px;    
}

.block-form form {
  width: 201px;
}

.rang-filter {
  width: 201px;
  min-height: 142px;
  padding-top: 12px;
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.scale {
  width: 201px;
  height: 2px; 
  background-color: darkgray;
}

.range-controls {
  position: relative;
}

.range-controls {
  margin-top: 37px;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;

  border: 8px solid rgba(255, 255, 255, 1);
  background: rgba(177, 177, 177, 1);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(177, 177, 177, 1);
  box-sizing: content-box;
}

.toggle-max {
  left: 59%;
}

.bar {
  height: 2px;
  background-color: green;  
}

.price-controls {
  margin-top: 10px;

  font-family: "Gilroy";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em;
  opacity: 0.2; 
}

.price-controls input {
  width: 50px;
  border: none;
  background-color: rgba(239, 239, 239, 1);  
}

.price-controls label {
  margin-right: 20px;  
}

.price-controls label:last-of-type {
  margin-right: 0px;  
}

.form-color,
.form-bluetooth {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Open-Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.015em;  
}

.form-color,
.form-bluetooth {
  margin-top: 20px;
}

.block-form fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  border: none;  
}

.fieldset-color legend,
.fieldset-bluetooth legend {
  padding-top: 12px;
}

.block-form fieldset:first-of-type {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.form-color li,
.form-bluetooth li {
  position: relative;
  padding-left: 39px;
}

.form-color input,
.form-bluetooth input {
  display: none;
}

.form-color label::before,
.form-bluetooth label::before {
  position: absolute;
  display: block;
  content: "";
  top: 52%;
  left: 0;
  transform: translate(0%, -50%);
  width: 27px;
  height: 27px;
}

.form-color label::before {
  background: url("../img/checkbox-radio-sprite.png") no-repeat -10px -10px;
}

input[name="color"]:checked + label::before {
  background: url("../img/checkbox-radio-sprite.png") no-repeat -10px -53px;  
}

.form-bluetooth label::before {
  background: url("../img/checkbox-radio-sprite.png") no-repeat -10px -96px;  
}

input[name="bluetooth"]:checked + label::before {
  background: url("../img/checkbox-radio-sprite.png") no-repeat -10px -141px;  
}

.form-btn {
  width: 201px;
  border: none;
  padding: 0px
}

.block-catalog {
  width: 760px;
  padding-top: 69px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  margin: 0 auto;
  padding: 0;
}

.catalog-list__item {
  width: 360px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  list-style: none;
}

.catalog-list__item:last-child,
.catalog-list__item:nth-last-child(2) {
  margin-bottom: 0px;
}

.catalog-list__item a,
.catalog-list__item h3 {
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.015em;
  color: rgba(0, 0, 0, 1);
}

.catalog-list__item h3 {
  margin-top: 34px;
  width: 265px;
}

.catalog-list__item:nth-child(2) h3 {
  width: 220px;
}

.catalog-list__price {
  font-weight: 300;
  font-size: 16px;
  margin-top: 36px;
}

.catalog-list__item a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paginator {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 70px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 23px;
  margin-bottom: 73px;    

  list-style: none;
  background-color: rgba(235, 235, 235, 1);
}

.paginator a {
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;  
}

.paginator__item:nth-child(2) {
  margin-left: auto;
  margin-right: 10px;
}

.paginator__item:nth-last-child(2) {
  margin-left: 10px;
  margin-right: auto;
}

.footer-catalog {
  margin-top: 4px;
}